<%- include header %>
<style>
body{font-size: 20px;}
span {line-height: 35px;}
</style>
<div class="container">
<%= title %>
<br />
result:
<br />
<span style="display: inline-block; width: 120px;">user_id:</span> <span style="color: red; margin-left: 10px;"><%= user_id %></span><br />
<span style="display: inline-block; width: 120px;">email:</span> <span style="color: red; margin-left: 10px;"><%= email %></span><br />
<span style="display: inline-block; width: 120px;">mobile:</span> <span style="color: red; margin-left: 10px;"><%= mobile %></span><br />
<span style="display: inline-block; width: 120px;">status:</span> <span style="color: red; margin-left: 10px;"><%= status %></span><br />
<span style="display: inline-block; width: 120px;">create_time:</span> <span style="color: red; margin-left: 10px;"><%= create_time %></span><br />
<span style="display: inline-block; width: 120px;">update_time:</span> <span style="color: red; margin-left: 10px;"><%= update_time %></span><br />
<br />
<br />
<br />
<br />

code
<br />
<%= code %>
</div>

<%- include footer %>
